
# File: obsidian-core/.github/workflows/env-runtime-template.yml

# This workflow validates the Terraform configurations in different environments



name: Environment Runtime Validation

# 🛡️ Permissions: Define what the job can access
permissions:
  contents: read               # required for actions/checkout
  pull-requests: write         # only if writing comments to PRs
  # id-token: write            # uncomment for OIDC auth (e.g., cloud deployments)
  # packages: read             # needed if pulling from GHCR or private packages
  # issues: write              # for workflows that comment on issues
  # actions: read              # for composite actions or reuse
  # security-events: write     # for uploading SARIF to GitHub Security tab
  # deployments: write         # if performing GitHub deployments
  # statuses: write            # if setting commit status (e.g., from tests or scans)

on:
  push:
    paths:
      - 'ObsidianWall_SIaC/environments/**.tf'
      - 'ObsidianWall_SIaC/environments/**.tfvars'
  pull_request:
    paths:
      - 'ObsidianWall_SIaC/environments/**.tfvars'
      - 'ObsidianWall_SIaC/environments/**.tf'

jobs:
  plan:
    runs-on: ubuntu-latest


    defaults:
      run:
        working-directory: ${{ matrix.environment }}
    
  
    strategy:
      matrix:
        environment:
          - environments/dev
          - environments/prod
          - environments/shared
          - environments/staging

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@c65cd883420fd2eb864698a825fc4162dd94482c       # V4, Use a specific commit SHA for stability
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
